/* обнуление */

@import url("./src/style/reset.css");

/* шрифты */

@import url("./src/style/fonts.css");

/* preloader */

@import url("./src/style/preloader.css");

/* шапка и подвал */

@import url("./src/style/header.css");
@import url("./src/style/footer.css");

/* all__section */

@import url("./src/style/all__section.css");

/* переменные */

:root {
  --white: rgba(255, 255, 255, 1);
  --light-blue-gray: rgba(230, 235, 239, 1);
  --light-gray: rgba(181, 181, 193, 1);
  --dark-gray: rgba(94, 94, 101, 1);
  --blue: rgba(64, 194, 246, 1);

  --grid-color: rgba(222, 229, 235, 1);
}

.h1 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 8.6rem;
  line-height: 90%;

  @media (max-width: 767px) {
    font-size: 3rem;
  }
}

.h2 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 3rem;
  line-height: 100%;

  @media (max-width: 767px) {
    font-size: 2rem;
  }
}

.h3 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 100%;

  @media (max-width: 767px) {
    font-size: 1.6rem;
  }
}

.text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 98%;

  @media (max-width: 767px) {
    font-size: 1.4rem;
  }
}

/* стили которых не было, но они есть, сука */

.header-text {
  font-family: "Roboto";
  font-weight: 450;
  font-size: 1.5rem;
  line-height: 110%;

  @media (max-width: 767px) {
    font-size: 1.4rem;
  }
}

.header-text__2 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 100%;

  @media (max-width: 767px) {
    font-size: 2rem;
  }
}

.header-text__3 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 98%;

  @media (max-width: 767px) {
    font-size: 1.4rem;
  }
}

.text_2 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 98%;
}

.text_3 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 98%;

  @media (max-width: 767px) {
    font-size: 1.4rem;
  }
}

.text_4 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 6rem;
  line-height: 100%;

  @media (max-width: 767px) {
    font-size: 2rem;
  }
}

.text_5 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 3rem;
  line-height: 100%;

  @media (max-width: 767px) {
    font-size: 1.6rem;
  }
}

.text_6 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 3rem;
  line-height: 100%;

  @media (max-width: 767px) {
    font-size: 1.8rem;
  }
}
.text_7 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 5rem;
  line-height: 100%;

  @media (max-width: 767px) {
    font-size: 3rem;
  }
}
.text_8 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 100%;

  @media (max-width: 767px) {
    font-size: 2rem;
  }
}
.text_9 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 6rem;
  line-height: 100%;

  @media (max-width: 767px) {
    font-size: 5rem;
  }
}
.text_10 {
  font-family: Roboto;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 100%;

  @media (max-width: 767px) {
    font-size: 1.4rem;
  }
}
.text_11 {
  font-family: Roboto;
  font-weight: 450;
  font-size: 2rem;
  line-height: 100%;

  @media (max-width: 767px) {
    font-size: 1.4rem;
  }
}
.text_12 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 100%;

  @media (max-width: 767px) {
    font-size: 1.2rem;
  }
}
.text_13 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 6rem;
  line-height: 100%;

  @media (max-width: 767px) {
    font-size: 3rem;
  }
}
.text_14 {
  font-family: Roboto;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 100%;

  @media (max-width: 767px) {
    font-size: 1.6rem;
  }
}
.text_15 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 5rem;
  line-height: 100%;

  @media (max-width: 767px) {
    font-size: 2rem;
  }
}

/* кнопки */

.btn-fun {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  .arrow__btn--header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn-def {
  font-family: Roboto;
  font-weight: 450;
  font-style: Medium;
  font-size: 1.5rem;
  line-height: 110.00000000000001%;
  text-transform: uppercase;

  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    font-size: 1.4rem;
  }
}

.btn-def__effect {
  background-color: var(--dark-gray);
  color: var(--white);
  transition: 0.3s ease;
  border-radius: 1.2rem;

  &:hover {
    background-color: var(--light-gray);
  }
  &:active {
    background-color: var(--blue);
  }
}

.btn-sec__effect {
  background-color: var(--blue);
  transition: 0.3s ease;
  border-radius: 1.2rem;

  &:hover {
    background-color: var(--light-gray);
  }
  &:active {
    background-color: var(--blue);
  }
}

.btn-ter__effect {
  background-color: transparent;
  transition: 0.3s ease;
  border-radius: 1.2rem;
  border: 0.1rem solid var(--white);

  &:hover {
    background-color: var(--light-gray);
  }
  &:active {
    background-color: var(--blue);
  }
}

.btn-four__effect {
  background-color: var(--white);
  color: var(--dark-gray);
  transition: 0.3s ease;
  border-radius: 1.2rem;

  &:hover {
    background-color: var(--light-gray);
    color: var(--white);

    path {
      stroke: var(--white);
    }
  }
  &:active {
    background-color: var(--blue);
  }

  svg {
    path {
      stroke: var(--dark-gray);
      transition: 0.3s ease;
    }
  }
}

.btn-five__effect {
  background-color: transparent;
  color: var(--dark-gray);
  transition: 0.3s ease;
  border-radius: 1.2rem;

  &:hover {
    background-color: var(--light-gray);
    color: var(--white);

    path {
      stroke: var(--white);
    }
  }
  &:active {
    background-color: var(--blue);
  }

  svg {
    path {
      stroke: var(--dark-gray);
      transition: 0.3s ease;
    }
  }
}

/* link */

.link-def__effect {
  color: var(--dark-gray);
  transition: 0.3s ease;

  &:hover {
    color: var(--light-gray);
  }
  &:active {
    color: var(--blue);
  }
}

/* block-layering */

.block-layering {
  position: relative;
  width: 90.7rem;

  @media (max-width: 767px) {
    width: unset;
  }

  .box-card__layering {
    border-radius: 2rem;
    width: 90.7rem;
    height: 54.2rem;
    color: var(--white);
    padding: 3rem;

    position: absolute;
    cursor: pointer;

    @media (max-width: 767px) {
      width: unset;
      width: 100%;

      padding: 1.6rem;
    }

    &:nth-child(3n + 1) {
      /* 1-я, 4-я, 7-я и т.д. */
      background-color: var(--blue);
    }
    &:nth-child(3n + 2) {
      /* 2-я, 5-я, 8-я и т.д. */
      background-color: var(--dark-gray);
    }
    &:nth-child(3n + 3) {
      /* 3-я, 6-я, 9-я и т.д. */
      background-color: var(--light-gray);
    }

    &:nth-child(2) {
      top: 7.5rem;
      z-index: 2;

      @media (max-width: 767px) {
        top: 4rem;
      }
    }
    &:nth-child(3) {
      top: 15rem;
      z-index: 3;

      @media (max-width: 767px) {
        top: 8rem;
      }
    }
    &:nth-child(4) {
      top: 22.5rem;
      z-index: 4;

      @media (max-width: 767px) {
        top: 12rem;
      }
    }
    &:nth-child(5) {
      top: 30rem;
      z-index: 5;

      @media (max-width: 767px) {
        top: 16rem;
      }
    }
    &:nth-child(6) {
      top: 37.5rem;
      z-index: 6;

      @media (max-width: 767px) {
        top: 20rem;
      }
    }
    &:nth-child(7) {
      top: 45rem;
      z-index: 7;

      @media (max-width: 767px) {
        top: 24rem;
      }
    }
    &:nth-child(8) {
      top: 52.5rem;
      z-index: 8;

      @media (max-width: 767px) {
        top: 28rem;
      }
    }
    &:nth-child(9) {
      top: 60rem;
      z-index: 9;

      @media (max-width: 767px) {
        top: 32rem;
      }
    }

    .box-card__number {
      color: var(--white);
      text-align: center;
      display: block;
    }

    .box-card__content-block {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6rem;

      margin-top: 4rem;
      padding-inline: 10rem;

      @media (max-width: 767px) {
        padding-inline: unset;
        margin-top: 2rem;

        flex-direction: column;
        gap: 2rem;
      }

      .box-card__img {
        min-width: 21.6rem;
        min-height: 21.6rem;

        width: 21.6rem;
        height: 21.6rem;

        @media (max-width: 767px) {
          min-width: 18rem;
          min-height: 18rem;

          width: 18rem;
          height: 18rem;
        }
      }
      .box-card__text {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        @media (max-width: 767px) {
          gap: 2rem;
          text-align: center;
        }
      }
    }
  }

  .box-card__layering {
    opacity: 0;
    transform: translateY(60rem) rotate(40deg);
    transition: all 0.6s ease;
    position: absolute;
    inset: 0; /* чтобы встали друг на друга */
  }

  /* активная карточка */
  .box-card__layering.active {
    opacity: 1;
    transform: translateY(0) rotate(0);
    z-index: 10;
  }

  /* фиксируем предыдущие в стеке */
  .box-card__layering.fixed {
    opacity: 1;
    transform: translateY(0) rotate(0);
  }

  .box-card__handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    cursor: pointer;

    @media (max-width: 767px) {
      height: 4rem;
    }
  }
}

/* btn */

.carusel-arrow {
  display: flex;
  gap: 0.8rem;

  .arrows_seven {
    height: 6.2rem;
    width: 5.2rem;

    padding: 1.2rem 0.8rem;
    border: 0.1rem solid var(--light-blue-gray);
    border-radius: 1.2rem;
    cursor: pointer;
  }

  .arrow-left {
  }
  .arrow-right {
    display: flex;
    justify-content: end;
  }
}

/* pagination */

.block-pagination {
  display: flex;
  justify-content: center;
  gap: 0.6rem;

  margin-top: 7rem;

  @media (max-width: 767px) {
    margin-top: 3rem;
  }

  .arrow_pag {
    width: 5.2rem;
    height: 6.2rem;
    border-radius: 1.2rem;
    border: 0.1rem solid var(--light-blue-gray);

    display: flex;

    padding: 0.7rem;
  }

  .arrow_pag[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  .arrow-left_pag {
    span {
    }
  }
  .counter_pag {
    min-width: 5.2rem;
    height: 6.2rem;
    border-radius: 1.2rem;
    border: 0.1rem solid var(--light-blue-gray);
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .arrow-right_pag {
    justify-content: end;

    span {
    }
  }
}
