.section-fiveteen {
  .section-fiveteen__head {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 2rem;
    }

    h2 {
      max-width: 110rem;
    }

    a {
      height: fit-content;
      width: 26.2rem;
      height: 6.2rem;
      color: var(--white);

      @media (max-width: 767px) {
        width: 100%;
        height: 5rem;
      }

      p {
        display: flex;
        align-items: end;

        margin: 0 0 1.2rem 1.2rem;
      }

      span {
        margin: 1.2rem 1.2rem 0 0;
      }
    }
  }

  .section-fiveteen__container {
    margin-top: 6rem;

    display: flex;
    gap: 3rem;

    @media (max-width: 767px) {
      margin-top: 4rem;

      flex-direction: column;
      gap: 0.6rem;
    }
  }

  .fiveteen__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 83rem;
    width: 91rem;

    padding: 4rem;

    color: var(--white);
    background-color: var(--dark-gray);
    border-radius: 2rem;

    @media (max-width: 767px) {
      height: 26rem;
      min-height: fit-content;
      width: unset;

      padding: 1.6rem;
    }

    .fiveteen__block__head {
      display: flex;
      justify-content: space-between;

      p {
        opacity: 50%;
      }

      .fiveteen__block__head-img {
        width: 12.7rem;
        height: 12.7rem;

        @media (max-width: 767px) {
          width: 6rem;
          height: 6rem;
        }
      }
    }

    .fiveteen__block__down {
      h3 {
        text-transform: uppercase;
      }

      max-width: 46.5rem;

      @media (max-width: 767px) {
        max-width: 25rem;
      }

      .block-down__list {
        margin-top: 3rem;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media (max-width: 767px) {
          gap: 0.6rem;

          margin-top: 1.5rem;
        }

        p {
          display: flex;
          gap: 2.5rem;

          @media (max-width: 767px) {
            gap: 0.4rem;
          }
        }

        span {
          img {
            min-width: 1.6rem;
            min-height: 1.6rem;

            width: 1.6rem;
            height: 1.6rem;

            @media (max-width: 767px) {
              min-height: 1.2rem;
              min-width: 1.2rem;

              width: 1.2rem;
              height: 1.2rem;
            }
          }
        }
      }
    }
  }

  .fiveteen__block-two {
    display: grid;
    grid-template-columns: repeat(2, 44rem);
    grid-template-rows: repeat(2, 40rem);
    gap: 3rem;

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 17rem);
      grid-template-rows: repeat(2, minmax(23rem, 1fr));
      gap: 0.6rem;
    }

    .block-two__box {
      border-radius: 2rem;
      padding: 3rem;
      color: var(--white);

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;

      @media (max-width: 767px) {
        padding: 1rem;
      }

      &:nth-child(1) {
        background-color: var(--light-gray);

        @media (max-width: 767px) {
          background-color: var(--light-gray);
        }
      }
      &:nth-child(2) {
        background-color: var(--dark-gray);

        @media (max-width: 767px) {
          background-color: var(--blue);
        }
      }
      &:nth-child(3) {
        background-color: var(--blue);

        @media (max-width: 767px) {
          background-color: var(--dark-gray);
        }
      }
      &:nth-child(4) {
        background-color: var(--light-gray);
      }
    }

    .two__box-head {
      display: flex;
      justify-content: space-between;

      @media (max-width: 767px) {
        flex-direction: column-reverse;
        gap: 1.5rem;
      }

      p {
        opacity: 50%;
      }

      .two__box-head_img {
        width: 7rem;
        height: 7rem;

        @media (max-width: 767px) {
          width: 3rem;
          height: 3rem;
        }
      }
    }

    .two__box-content {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
    }

    h3 {
      text-transform: uppercase;
      hyphens: auto;
    }
  }
}
