.section-six {
  .section-six__head {
    hgroup {
      display: flex;
      gap: 30rem;
      align-items: center;

      h2 {
        text-transform: uppercase;
      }

      h3 {
        text-transform: uppercase;
      }
    }
  }
  .carusel-arrow {
  }
  .section-six__block-arrow {
    display: none;

    @media (max-width: 767px) {
      display: flex;
    }

    .arrow-left {
    }
    .arrows_seven {
    }
    .btn-four__effect {
    }
    .arrow-right {
    }
  }
  .secion-six__wrapper {
    margin-top: 5rem;

    position: relative;

    @media (max-width: 767px) {
      margin-top: 4rem;

      display: flex;
      flex-direction: column;
      gap: 4rem;
    }
  }
  .secion-six__wrapper-link {
    width: 22rem;
    height: 6.2rem;

    position: absolute;
    bottom: 0;
    left: 162rem;
    z-index: -1;

    @media (max-width: 767px) {
      position: unset;
    }

    p {
      margin: 0 0 1.2rem 1.2rem;

      display: flex;
      align-items: end;

      color: var(--white);
    }

    span {
      margin: 1.2rem 1.2rem 0 0;
    }
  }
  .section-six__container {
    display: flex;
    width: 100%;

    @media (max-width: 767px) {
      gap: 0.8rem;
      padding-right: 1.6rem;
      touch-action: pan-y;

      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE/Edge */
      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari */
      }
    }
  }
  .section-six__block {
    padding: 3rem;
    border-radius: 2rem;
    color: var(--white);

    min-width: 144rem;
    width: 144rem;
    height: 60rem;

    position: relative;
    cursor: pointer;

    transition: transform 0.7s ease, z-index 0.3s ease;

    @media (max-width: 767px) {
      width: 31.4rem;
      min-width: 31.4rem;
      height: 80rem;

      padding: 2rem;
      border-radius: 1.6rem;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.6rem;
    }

    &.active-2 {
      transform: translateX(calc(-100% + 7rem));
    }
    &.active-3 {
      transform: translateX(calc(-200% + 14rem));
    }
    &.active-4 {
      transform: translateX(calc(-300% + 21rem));
    }
    &.active-5 {
      transform: translateX(calc(-400% + 28rem));
    }
    &.active-6 {
      transform: translateX(calc(-500% + 35rem));
    }

    &.shifted-3 {
      transform: translateX(-100%);
    }
    &.shifted-4 {
      transform: translateX(-200%);
    }
    &.shifted-5 {
      transform: translateX(-300%);
    }
    &.shifted-6 {
      transform: translateX(-400%);
    }

    &:nth-child(3n + 1) {
      /* 1-я, 4-я, 7-я и т.д. */
      background-color: var(--dark-gray);
    }
    &:nth-child(3n + 2) {
      /* 2-я, 5-я, 8-я и т.д. */
      background-color: var(--blue);
    }
    &:nth-child(3n + 3) {
      /* 3-я, 6-я, 9-я и т.д. */
      background-color: var(--light-gray);
    }

    &:not(:first-child) {
      margin-left: -4rem;

      @media (max-width: 767px) {
        margin-left: unset;
      }
    }
  }

  .six-block__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @media (max-width: 767px) {
      gap: 3rem;
    }
  }
  .six-block__head {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media (max-width: 767px) {
      gap: 1.6rem;
    }

    h2 {
      width: 42rem;
      text-transform: uppercase;

      @media (max-width: 767px) {
        width: unset;
      }
    }

    p {
      opacity: 50%;
    }
  }
  .six-block__down {
    display: flex;
    flex-direction: column;
    gap: 4.4rem;

    @media (max-width: 767px) {
      gap: 3rem;
    }

    .block-down__list {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      @media (max-width: 767px) {
        gap: 0.8rem;
      }

      li {
        display: flex;
        gap: 0.8rem;
        width: 42rem;

        @media (max-width: 767px) {
          width: unset;
        }

        span {
          font-size: 1.8rem;
        }

        p {
        }
      }
    }
    a {
      width: 26.2rem;
      height: 6.2rem;

      @media (max-width: 767px) {
        width: 100%;

        height: 5rem;
      }

      p {
        display: flex;
        align-items: end;
        margin: 0 0 1.2rem 1.2rem;
      }

      span {
        margin: 1.2rem 1.2rem 0 0;
      }
    }
  }

  .section-six__img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    @media (max-width: 767px) {
      position: unset;
    }

    img {
      width: 82rem;
      border-radius: 2rem;

      object-fit: cover;

      @media (max-width: 767px) {
        width: 100%;
        height: 38.6rem;

        border-radius: 1.4rem;
      }
    }
  }
}
