.section-nineteen {
  .form-search {
    margin-bottom: 5rem;

    @media (max-width: 767px) {
      margin-bottom: 3rem;
    }
    search {
      display: flex;
      gap: 3rem;

      @media (max-width: 767px) {
        flex-direction: column;
        gap: 1.6rem;
      }
    }

    .block-search {
      position: relative;
    }

    .block-search__img {
      position: absolute;

      width: 2.4rem;
      height: 2.4rem;

      top: 50%;
      left: 2rem;

      transform: translateY(-50%);
    }

    .search {
      padding: 2.2rem 2.2rem 2.2rem 6rem;
      border-radius: 1.2rem;
      border: 0.1rem solid var(--light-blue-gray);
      width: 90.5rem;
      height: 6.2rem;

      @media (max-width: 767px) {
        width: 100%;
        height: 5rem;
        padding: 1.6rem 1.6rem 1.6rem 6rem;
      }

      &::placeholder {
        font-family: Roboto;
        font-weight: 300;
        font-size: 1.8rem;
        transition: 0.3s ease;
        color: var(--light-gray);

        @media (max-width: 767px) {
          font-size: 1.6rem;
        }
      }

      &:focus::placeholder {
        color: transparent;
      }
    }

    .form-seach__btn {
      width: 26.2rem;
      height: 6.2rem;

      @media (max-width: 767px) {
        width: 100%;
        height: 5rem;
      }

      p {
        margin: 0 0 0.8rem 1.2rem;

        display: flex;
        align-items: end;
        text-align: start;
        color: var(--white);
      }

      span {
        margin: 1.2rem 1.2rem 0 0;
      }
    }
  }

  .section-nineteen__container {
    border-radius: 2rem;
    padding: 4rem;
    background-color: var(--light-blue-gray);

    @media (max-width: 767px) {
      padding: 2rem 1.6rem;
    }

    .nineteen-continer__head {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;

      @media (max-width: 767px) {
        display: none;
      }

      p {
        text-transform: uppercase;
        color: var(--blue);
        padding: 2rem;
        border-radius: 2rem;
        background-color: var(--white);

        text-align: center;
      }
    }

    .section-name {
      color: var(--white);
      background-color: var(--dark-gray);
      border-radius: 1.4rem;

      height: 6rem;
      width: 100%;

      text-transform: uppercase;

      display: flex;
      justify-content: center;
      align-items: center;

      margin: 5rem 0 3rem;

      @media (max-width: 767px) {
        border-radius: 1rem;
        height: 4rem;

        margin: 0 0 3rem;

        font-size: 1.4rem;
      }
    }

    .core-product {
    }

    .block-product {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      transition: 0.3s ease;

      border-bottom: 0.1rem solid rgba(181, 181, 193, 0.6);

      @media (max-width: 767px) {
        display: none;
      }

      .block-grid {
        padding: 4rem 5rem;

        button {
          color: var(--dark-gray);

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .box-info {
        display: flex;
        align-items: center;
        gap: 2rem;

        .product-box__img {
          padding: 0.6rem 1rem;
          border-radius: 0.8rem;
          background-color: rgba(222, 229, 235, 1);
          border-radius: 0.8rem;
          width: 16rem;
          height: 7.8rem;

          img {
          }
        }

        p {
          text-transform: uppercase;
        }
      }
      .box-info__02 {
        display: flex;
        align-items: center;
        justify-content: center;

        border-inline: 0.1rem solid rgba(181, 181, 193, 0.6);

        p {
          text-align: center;
          text-transform: uppercase;
        }
      }
      .box-info__03 {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          padding: 1rem 1.3rem;
          border-radius: 1.2rem;
          background-color: var(--white);
        }
      }
    }

    .block-product__under {
      border-bottom: unset;
    }

    .block-product.active {
      border-radius: 2rem;
      background-color: var(--white);
    }

    .block-product__mobile {
      padding-bottom: 2rem;
      border-bottom: 0.1rem solid rgba(181, 181, 193, 0.6);
      margin-bottom: 2rem;

      display: none;

      @media (max-width: 767px) {
        display: block;
      }

      .box-info__mobile {
        display: flex;
        justify-content: space-between;

        hgroup {
          width: 21rem;

          display: flex;
          flex-direction: column;
          gap: 0.6rem;

          h3 {
            font-weight: 500;
          }
        }
      }

      .btn__description {
        p {
          text-align: start;
          color: var(--dark-gray);
        }
      }
      .price_mobile {
        padding: 1rem;
        border-radius: 0.8rem;
        background-color: var(--white);
        height: fit-content;

        white-space: nowrap;
      }
      .block-product__mobile-img {
        background-color: rgba(222, 229, 235, 1);
        border-radius: 0.8rem;
        height: 7.8rem;
        padding: 0.6rem 1rem;
        transition: height 0.3s ease;

        margin-top: 2rem;

        img {
        }
      }

      .block-product__mobile-img.active {
        height: 23.4rem;

        margin-bottom: 2rem;

        img {
        }
      }
    }

    .block-product__mobile.active {
      border-bottom: unset;
      margin-bottom: unset;
      padding-bottom: unset;
    }

    .block-product__mobile-under {
      border-bottom: unset;
      padding-bottom: unset;
      margin: unset;
    }

    .block-product__mobile-alt {
      margin-bottom: 2rem;
    }
  }

  .product__description {
    display: none;

    .product__description-block {
      display: flex;
      justify-content: space-between;
    }
    .description-block__content {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      max-width: 125rem;

      @media (max-width: 767px) {
        gap: 2rem;
      }

      hgroup {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @media (max-width: 767px) {
          gap: 2rem;
        }

        h3 {
          color: var(--white);
          width: 22rem;
          border-radius: 1.4rem;
          padding: 2rem;
          background-color: var(--light-gray);

          text-transform: uppercase;

          @media (max-width: 767px) {
            padding: 1rem;
            border-radius: 1rem;

            width: 19rem;
          }
        }

        p {
          margin-left: 2rem;

          @media (max-width: 767px) {
            margin-left: 1rem;
          }
        }
      }
    }
    .description-block__img {
      width: 30rem;
      height: 34rem;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  .product__description.active {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 4rem 6rem;
    background-color: var(--white);
    border-radius: 2rem;

    text-transform: uppercase;

    @media (max-width: 767px) {
      padding: 1rem;
      border-radius: 1.6rem;

      margin-top: unset;
      margin-bottom: 2rem;
    }
  }

  .product__description-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @media (max-width: 767px) {
      gap: unset;
    }

    h3 {
      color: var(--white);
      width: 22rem;
      border-radius: 1.4rem;
      padding: 2rem;
      background-color: var(--light-gray);

      @media (max-width: 767px) {
        padding: 1rem;
        border-radius: 1rem;

        width: 19rem;
      }
    }

    .container__content-box {
      padding-left: 2rem;

      display: grid;
      grid-template-columns: repeat(3, 1fr);

      @media (max-width: 767px) {
        padding: 2rem 0;

        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
      }

      &:not(:last-child) {
        border-bottom: 0.1rem solid var(--light-gray);
      }

      h4 {
        border-right: 0.1rem solid var(--light-gray);
        padding: 4rem 4rem 4rem 0;

        grid-column: span 1;

        @media (max-width: 767px) {
          grid-column: unset;

          border-right: unset;
          padding: unset;
        }
      }

      p {
        padding: 4rem 4rem 4rem 12rem;

        grid-column: span 2;

        @media (max-width: 767px) {
          grid-column: unset;

          padding: unset;
        }
      }
    }
  }
}
