.section-thirty {
  .section-thirty__head {
    display: flex;
    gap: 24rem;

    h2 {
      text-transform: uppercase;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 2rem;
    }
  }
  .section-thirty__container {
    margin-top: 5rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;

      margin-top: 4rem;
    }
  }
  .section-thirty__card {
    height: 42.4rem;
    border-radius: 2rem;
    padding: 3rem;

    color: var(--white);

    position: relative;

    @media (max-width: 767px) {
      height: 37rem;
      padding: 2rem;
      border-radius: 1.6rem;
    }

    &:nth-child(3n + 1) {
      background-color: var(--dark-gray);
    }
    &:nth-child(3n + 2) {
      background-color: var(--blue);
    }
    &:nth-child(3n + 3) {
      background-color: var(--light-gray);
    }

    hgroup {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      p {
        max-width: 50rem;
      }
    }
  }
  .thirty-card__number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 400;
    font-size: 6rem;

    @media (max-width: 767px) {
      font-size: 5rem;

      top: 45%;
    }
  }
}
