.section-eighteen {
  .section-eighteen__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
    }
  }
  .eighteen__block {
    border-radius: 2rem;
    background-color: var(--blue);
    color: var(--white);
    padding: 3rem;

    height: 32rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    text-transform: uppercase;

    @media (max-width: 767px) {
      height: 14rem;
      min-height: 14rem;
      border-radius: 1.6rem;
      padding: 2rem;

      text-align: center;
    }

    p {
      max-width: 63rem;
    }
  }
  .eighteen__block-img {
    height: 32rem;

    @media (max-width: 767px) {
      height: 20rem;
      border-radius: 1.6rem;
    }

    img {
      border-radius: 2rem;
      object-fit: cover;

      @media (max-width: 767px) {
        border-radius: 1.6rem;
      }
    }
  }
}
