.section-thrty__one {
  .thirty-one__head {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 2rem;
    }

    h2 {
      text-transform: uppercase;
    }

    a {
      width: 26.2rem;
      height: 6.2rem;

      @media (max-width: 767px) {
        width: 100%;
        height: 5rem;
      }

      p {
        display: flex;
        align-items: end;

        margin: 0 0 1.2rem 1.2rem;

        @media (max-width: 767px) {
          margin: 0 0 0.8rem 0.8rem;
        }
      }

      span {
        margin: 1.2rem 1.2rem 0 0;
      }
    }
  }

  .thirty-one__container {
    margin-top: 5rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;

    @media (max-width: 767px) {
      margin-top: 4rem;

      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }

    .thirty-one__card {
      background-color: var(--light-blue-gray);
      border-radius: 2rem;
      padding: 3rem;

      height: 35rem;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: 767px) {
        padding: 2rem;
        border-radius: 1.6rem;
      }

      &:nth-child(1) {
        grid-column: span 2;

        @media (max-width: 767px) {
          grid-column: span 1;

          height: 21.5rem;
        }
      }
      &:nth-child(2) {
        grid-column: span 1;

        @media (max-width: 767px) {
          height: 15.5rem;
        }

        .card-content__img {
          @media (max-width: 767px) {
            display: none;
          }
        }
      }
      &:nth-child(3) {
        grid-column: span 1;

        @media (max-width: 767px) {
          height: 15.5rem;
        }

        .card-content__img {
          @media (max-width: 767px) {
            display: none;
          }
        }
      }

      .thirty-one__card-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      .card-content__img {
        width: 7rem;
        height: 7rem;

        @media (max-width: 767px) {
          width: 8rem;
          height: 8rem;
        }
      }

      h3 {
        text-transform: uppercase;
      }
    }
  }
}
