.section-nine {
  .section-nine__container {
    display: flex;
    gap: 3rem;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 2rem;
    }
  }
  .section-nine__head {
    margin-top: 5rem;

    @media (max-width: 767px) {
      margin-top: unset;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
    }

    h2 {
      text-transform: uppercase;
      max-width: 40rem;

      @media (max-width: 767px) {
        grid-row: 1;
      }
    }
  }
  .section-nine__head-block {
    margin-top: 5rem;

    display: flex;
    gap: 3rem;

    @media (max-width: 767px) {
      margin-top: 4rem;
      grid-row: 3;

      flex-direction: column;
      gap: 2rem;
    }
  }
  .section-nine__down-block {
    display: flex;
    gap: 3rem;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 2rem;
    }
  }
  .section-nine__card {
    border-radius: 2rem;
    background-color: var(--light-blue-gray);
    padding: 3rem;

    width: 43.8rem;
    height: 41rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 767px) {
      width: 34.5rem;
      height: 25.6rem;
      padding: 2rem;
    }
  }
  .section-nine__card-head {
    display: flex;
    justify-content: space-between;

    p {
      span {
      }
    }

    a {
      width: 5.2rem;
      height: 6.2rem;

      display: flex;
      justify-content: end;
      align-items: end;

      span {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0 0.8rem 1.2rem 0;
      }
    }
  }
  .section-nine__card-content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    p {
      text-transform: uppercase;
    }

    h3 {
      text-transform: uppercase;
    }
  }
  .section-nine__card-date {
    display: flex;
    gap: 0.4rem;

    color: var(--light-gray);

    span {
      color: var(--dark-gray);
    }
  }
  .section-nine__head-link {
    width: 26.2rem;
    height: 6.2rem;

    margin-top: 38rem;

    @media (max-width: 767px) {
      margin-top: 2rem;
      grid-row: 2;
      width: 100%;

      height: 5rem;
    }

    p {
      display: flex;
      align-items: end;

      margin: 0 0 1.2rem 1.2rem;
      color: var(--white);
    }

    span {
      margin: 1.2rem 1.2rem 0 0;
    }
  }

  /* --- */

  .section-nine__down {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media (max-width: 767px) {
      gap: 2rem;
    }

    .section-nine__down-box {
      background: url(/src/img/img-11.png);
      background-size: cover;

      height: 66.4rem;
      width: 90rem;
      border-radius: 2rem;
      padding: 3rem;
      color: var(--white);

      display: flex;
      flex-direction: column;
      justify-content: end;
      gap: 21rem;

      @media (max-width: 767px) {
        width: 34.5rem;
        height: 26.5rem;
        padding: 2rem;

        gap: unset;
        justify-content: space-between;
      }
    }
    .down-box__date {
      color: var(--light-blue-gray);

      display: flex;
      gap: 0.4rem;

      span {
        color: var(--white);
      }
    }
    .down-box__content {
      display: flex;
      justify-content: space-between;
      align-items: end;

      hgroup {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        p {
          max-width: 35rem;
          text-transform: uppercase;

          @media (max-width: 767px) {
            max-width: 22rem;
          }
        }

        h3 {
          max-width: 38rem;
          text-transform: uppercase;

          @media (max-width: 767px) {
            font-size: 1.8rem;
            max-width: 22rem;
          }
        }
      }
    }
    .down-box__btn {
      width: 5.2rem;
      height: 6.2rem;
      border-radius: 1.2rem;

      display: flex;
      align-items: end;
      justify-content: end;

      span {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0 0.8rem 1.2rem 0;
      }
    }
  }
}
