.section-twenty__eight {
  background-color: var(--light-blue-gray);

  .twenty-eight__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    padding: 3rem 3rem 4rem 3rem;
    position: relative;

    @media (max-width: 767px) {
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;

      padding: 2rem 1.6rem 2rem 1.6rem;
    }
  }

  .twenty-eight__block-one {
    background-color: var(--white);
    padding: 3rem;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;

    min-height: 82rem;

    @media (max-width: 767px) {
      min-height: unset;
      gap: 1.6rem;

      padding: 2rem;
    }

    hgroup {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      text-transform: uppercase;

      p {
        max-width: 63rem;
      }
    }

    .block-one__img {
      width: 42rem;
      height: 36.5rem;

      @media (max-width: 767px) {
        width: 26rem;
        height: 24rem;
      }
    }

    a {
      height: 6.2rem;
      width: 26.2rem;

      @media (max-width: 767px) {
        width: 100%;
        height: 5rem;
      }

      p {
        display: flex;
        align-items: end;

        margin: 0 0 1.2rem 1.2rem;

        @media (max-width: 767px) {
          margin: 0 0 0.8rem 0.8rem;
        }
      }

      span {
        margin: 1.2rem 1.2rem 0 0;
      }
    }

    .block-one__text {
      max-width: 58rem;
    }
  }

  .twenty-eight__block-two {
    background-color: var(--light-gray);

    padding: 3rem;
    border-radius: 2rem;
    color: var(--white);

    display: flex;
    flex-direction: column;
    gap: 4rem;

    min-height: 82rem;

    @media (max-width: 767px) {
      min-height: unset;

      padding: 2rem;

      gap: 1rem;
    }

    hgroup {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @media (max-width: 767px) {
        gap: 1rem;
      }

      h2 {
        text-transform: uppercase;
      }
    }

    .block-two__content {
      position: relative;
      height: 100%;
      padding: 2rem;

      display: flex;
      justify-content: end;
      align-items: end;

      a {
        position: relative;

        width: 26.2rem;
        height: 6.2rem;

        @media (max-width: 767px) {
          display: none;
        }

        p {
          display: flex;
          align-items: end;

          margin: 0 0 1.2rem 1.2rem;
        }

        span {
          margin: 1.2rem 1.2rem 0 0;
        }
      }
    }

    .block-two__img {
      @media (max-width: 767px) {
        height: 21rem;
      }

      img {
        position: absolute;
        inset: 0;

        object-fit: cover;

        border-radius: 2rem;

        @media (max-width: 767px) {
          border-radius: 1.4rem;
        }
      }
    }
  }
}
