.section-ten {
  .section-ten__container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 4rem;
    }
  }
  .section-ten__container-contacts {
    @media (max-width: 767px) {
      margin-top: unset;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
    }

    h2 {
      margin-top: 5rem;
      text-transform: uppercase;

      @media (max-width: 767px) {
        margin-top: unset;

        grid-row: 1;
      }
    }
  }
  .block-contacts {
    margin-top: 15rem;

    display: flex;
    flex-direction: column;
    gap: 3.4rem;

    @media (max-width: 767px) {
      grid-row: 3;
      margin-top: 4rem;

      gap: 2rem;
    }

    .block-contacts_box {
      display: flex;
      align-items: center;
      gap: 3rem;

      @media (max-width: 767px) {
        gap: 1.4rem;
      }
    }

    .block-contacts_box-img {
      padding: 2rem;
      border-radius: 2rem;
      background-color: var(--light-blue-gray);

      @media (max-width: 767px) {
        border-radius: 1rem;
        padding: 1.6rem;
      }

      img {
        min-width: 4rem;
        min-height: 4rem;
        width: 4rem;
        height: 4rem;

        @media (max-width: 767px) {
          min-width: 3rem;
          min-height: 3rem;
          width: 3rem;
          height: 3rem;
        }
      }
    }

    .block-contacts_box-content {
      display: flex;
      gap: 5rem;

      @media (max-width: 767px) {
        gap: 1.4rem;
      }

      .mobile-list {
        display: none;
      }
    }
    hgroup {
      width: 16rem;

      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      @media (max-width: 767px) {
        width: 12rem;
      }

      .hgroup__head {
        text-transform: uppercase;
        opacity: 50%;
      }

      .hgroup__text {
        text-transform: uppercase;
      }
    }
    .hgroup__head-alt {
      width: 28rem;

      @media (max-width: 767px) {
        width: unset;
      }
    }
  }
  .block-links {
    margin-top: 12rem;

    display: flex;
    gap: 2rem;

    @media (max-width: 767px) {
      grid-row: 2;
      margin-top: 2rem;

      gap: 1rem;

      flex-direction: row-reverse;
    }

    a:first-child {
      width: 23.1rem;
      height: 6.2rem;

      color: var(--white);

      @media (max-width: 767px) {
        width: 100%;
        height: 5rem;
      }

      p {
        display: flex;
        align-items: end;
        margin: 0 0 1.2rem 1.2rem;

        @media (max-width: 767px) {
          margin: 0 0 1rem 1rem;
        }
      }

      span {
        margin: 1.2rem 1.2rem 0 0;

        @media (max-width: 767px) {
          margin: 1rem 1rem 0 0;
        }
      }

      .desc-text {
        @media (max-width: 767px) {
          display: none;
        }
      }

      .mob-text {
        display: none;
        @media (max-width: 767px) {
          display: flex;
        }
      }
    }

    a:last-child {
      width: 28.9rem;
      height: 6.2rem;

      color: var(--white);

      @media (max-width: 767px) {
        width: 100%;
        height: 5rem;
      }

      p {
        display: flex;
        align-items: end;
        margin: 0 0 1.2rem 1.2rem;

        @media (max-width: 767px) {
          margin: 0 0 1rem 1rem;
        }
      }

      span {
        margin: 1.2rem 1.2rem 0 0;

        @media (max-width: 767px) {
          margin: 1rem 1rem 0 0;
        }
      }
    }
  }

  .block-links__mobile-block {
    display: none;
    @media (max-width: 767px) {
      margin-top: 2rem;

      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      p {
        opacity: 50%;
        text-transform: uppercase;
      }

      a {
        text-decoration: underline;
      }
    }
  }

  /* ----- */

  .sectio-five__container-form {
    padding: 3rem;
    border-radius: 2rem;
    background-color: var(--dark-gray);
    color: var(--white);

    width: 90rem;

    @media (max-width: 767px) {
      width: unset;

      padding: 1.6rem;
    }

    .form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;

      margin-top: 5rem;

      @media (max-width: 767px) {
        margin-top: 2rem;

        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
      }
    }
    .form_block {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .form_block-item {
        position: relative;
      }

      input {
        padding: 2.4rem 2.25rem;
        width: 100%;
        border-radius: 1.2rem;

        @media (max-width: 767px) {
          padding: 1.75rem 1rem;
        }

        &::placeholder {
          font-family: "Roboto";
          font-weight: 450;
          font-size: 1.6rem;
          line-height: 110%;
          text-transform: uppercase;
          transition: 0.3s ease;
          color: var(--dark-gray);

          @media (max-width: 767px) {
            font-size: 1.4rem;
            letter-spacing: -0.1rem;
          }
        }

        &:focus::placeholder {
          color: transparent;
        }
      }

      .select__tarif {
        position: relative;
        width: 100%;

        cursor: pointer;

        .select__tarif-box {
          position: relative;

          span {
            position: absolute;
            top: 50%;
            right: 2.4rem;
            transform: translateY(-50%);
          }

          span svg {
            transition: transform 0.3s ease;
          }

          span svg.rotate {
            transform: rotate(-180deg);
          }
        }
        .select__tarif-value {
          padding: 2.4rem 2.25rem;
          width: 100%;
          border-radius: 1.2rem;
          background-color: var(--white);
          color: var(--dark-gray);
          text-transform: uppercase;

          @media (max-width: 767px) {
            padding: 1.75rem 1rem;
          }
        }
        .select__tarif-list {
          display: none;
          flex-direction: column;
          background: var(--white);
          border-radius: 1.2rem;
          margin-top: 0.5rem;
          overflow: hidden;
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);

          position: absolute;
          z-index: 2;
          width: 100%;
        }

        .select__tarif-list.active {
          display: flex;
        }

        .list-tarif {
          padding: 1.5rem 2rem;
          cursor: pointer;
          transition: background 0.3s ease;

          color: var(--dark-gray);
        }

        .list-tarif:hover {
          background-color: var(--light-blue-gray);
        }
        .list-tarif:active {
          background-color: var(--light-gray);
        }
      }
    }
    .error-message {
      position: absolute;
      top: -1.8rem; /* расстояние над input */
      left: 0;
      color: red;
      font-size: 1.4rem;
      line-height: 1;

      @media (max-width: 767px) {
        top: -1.7rem;

        font-size: 1rem;
      }
    }
    .block-form__btn {
      margin-top: 9.5rem;

      display: flex;
      gap: 18rem;

      @media (max-width: 767px) {
        margin-top: 2rem;

        flex-direction: column;
        gap: 2rem;
      }

      button {
        width: 26.2rem;
        height: 6.2rem;

        @media (max-width: 767px) {
          height: 5rem;
          width: 100%;
        }

        p {
          display: flex;
          align-items: end;
          margin: 0 0 1.2rem 1.2rem;

          color: var(--white);
        }

        span {
          margin: 1.2rem 1.2rem 0 0;
        }
      }
    }
    .block-form__btn-content {
      width: 28rem;
      text-transform: uppercase;
      opacity: 50%;

      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}
