.section-seventeen {
  .section-seventeen__head {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 2rem;
    }
    h2 {
      max-width: 130rem;
    }

    a {
      width: 26.2rem;
      height: 6.2rem;

      @media (max-width: 767px) {
        width: 100%;
        height: 5rem;
      }

      p {
        color: var(--white);
        margin: 0 0 0.8rem 1.2rem;

        display: flex;
        align-items: end;
      }

      span {
        margin: 1.2rem 1.2rem 0 0;
      }
    }
  }
  .section-seventeen__container {
    margin-top: 6rem;

    @media (max-width: 767px) {
      margin-top: 4rem;
    }
  }
  .seventeen-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;

    height: 100%;
    min-height: 40rem;

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 0.6rem;

      min-height: 26rem;
    }
  }
  .seventeen-block__card {
    padding: 3rem;
    border-radius: 2rem;
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 767px) {
      padding: 1rem;
      border-radius: 1.6rem;

      gap: 3rem;
    }

    &:nth-child(1) {
      grid-column: span 1;
      background-color: var(--dark-gray);
    }
    &:nth-child(2) {
      grid-column: span 1;
      background-color: var(--blue);

      @media (max-width: 767px) {
        background-color: var(--light-gray);
      }
    }
    &:nth-child(3) {
      grid-column: span 2;
      background-color: var(--light-gray);

      @media (max-width: 767px) {
        background-color: var(--blue);
      }
    }
  }
  .card__head {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-direction: column-reverse;
      gap: 2rem;
    }

    p {
      opacity: 50%;
    }
  }
  .card__content-head {
    text-transform: uppercase;
  }
  .card-head__img {
    width: 6.8rem;
    height: 6.8rem;

    @media (max-width: 767px) {
      width: 3rem;
      height: 3rem;
    }
  }
  .seventeen__card-alt {
    .card__head {
      @media (max-width: 767px) {
        flex-direction: row;
      }
    }
    .card-head__img {
      @media (max-width: 767px) {
        width: 4rem;
        height: 4rem;
      }
    }
  }
  .seventeen-card__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    max-width: 60rem;
  }
  .card-block__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p {
      display: flex;
      gap: 2.5rem;

      @media (max-width: 767px) {
        gap: 0.4rem;
      }

      span {
        img {
          width: 1.6rem;
          height: 1.6rem;

          min-height: 1.6rem;
          min-width: 1.6rem;

          @media (max-width: 767px) {
            width: 1.2rem;
            height: 1.2rem;

            min-height: 1.2rem;
            min-width: 1.2rem;
          }
        }
      }
    }
  }

  .seventen-section__block {
    margin-top: 6rem;

    display: flex;
    gap: 4rem;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 1rem;

      margin-top: 4rem;
    }

    h2 {
      width: 45rem;
      text-transform: uppercase;

      @media (max-width: 767px) {
        width: unset;
      }
    }

    .block__container {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      padding: 3rem;
      border-radius: 2rem;
      background-color: var(--light-blue-gray);
      max-width: 137rem;
      width: 100%;

      height: fit-content;

      @media (max-width: 767px) {
        padding: 1.6rem;
        border-radius: 1.6rem;
      }

      p {
        display: flex;
        gap: 2.5rem;

        @media (max-width: 767px) {
          gap: 1rem;
        }

        img {
          width: 1.6rem;
          height: 1.6rem;

          min-height: 1.6rem;
          min-width: 1.6rem;
        }
      }
    }
  }
}
