.section-thirty__three {
  .thirty-three__head {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 2rem;
    }

    a {
      width: 26.2rem;
      height: 6.2rem;

      color: var(--white);

      @media (max-width: 767px) {
        width: 100%;
        height: 5rem;
      }

      p {
        margin: 0 0 1.2rem 1.2rem;
        display: flex;
        align-items: end;

        @media (max-width: 767px) {
          margin: 0 0 0.8rem 0.8rem;
        }
      }

      span {
        margin: 1.2rem 1.2rem 0 0;
      }
    }
  }

  .thirty-three__container {
    margin-top: 5rem;

    display: flex;

    @media (max-width: 767px) {
      margin-top: 4rem;

      flex-direction: column;
    }
  }
  .thirty-three__card {
    color: var(--white);
    border-radius: 2rem;
    padding: 3rem;

    width: 90.7rem;
    min-width: 90.7rem;
    height: 57rem;

    transition: transform 0.6s ease, opacity 0.6s ease;
    will-change: transform, opacity;

    cursor: pointer;

    @media (max-width: 767px) {
      width: 34.5rem;
      min-width: 34.5rem;
      height: 52rem;
      padding: 2rem;
      border-radius: 1.6rem;

      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &.is-out {
      transform: translateX(-100%);
      opacity: 0;
      pointer-events: none; /* чтобы не ловила клики */
    }

    &:nth-child(3n + 1) {
      /* 1-я, 4-я, 7-я и т.д. */
      background-color: var(--light-gray);
    }
    &:nth-child(3n + 2) {
      /* 2-я, 5-я, 8-я и т.д. */
      background-color: var(--dark-gray);
    }
    &:nth-child(3n + 3) {
      /* 3-я, 6-я, 9-я и т.д. */
      background-color: var(--blue);
    }
    &:nth-child(1) {
      z-index: 20;
    }
    &:nth-child(2) {
      z-index: 19;
      margin-left: -79rem;

      @media (max-width: 767px) {
        margin-left: unset;
        margin-top: -47rem;

        z-index: 21;
      }
    }
    &:nth-child(3) {
      z-index: 18;
      margin-left: -79rem;

      @media (max-width: 767px) {
        margin-left: unset;
        margin-top: -47rem;

        z-index: 22;
      }
    }
    &:nth-child(4) {
      z-index: 17;
      margin-left: -79rem;

      @media (max-width: 767px) {
        margin-left: unset;
        margin-top: -47rem;

        z-index: 23;
      }
    }
    &:nth-child(5) {
      z-index: 16;
      margin-left: -79rem;

      @media (max-width: 767px) {
        margin-left: unset;
        margin-top: -47rem;

        z-index: 24;
      }
    }
    &:nth-child(6) {
      z-index: 15;
      margin-left: -79rem;

      @media (max-width: 767px) {
        margin-left: unset;
        margin-top: -47rem;

        z-index: 25;
      }
    }
    &:nth-child(7) {
      z-index: 14;
      margin-left: -79rem;

      @media (max-width: 767px) {
        margin-left: unset;
        margin-top: -47rem;

        z-index: 26;
      }
    }
    &:nth-child(8) {
      z-index: 13;
      margin-left: -79rem;

      @media (max-width: 767px) {
        margin-left: unset;
        margin-top: -47rem;

        z-index: 27;
      }
    }
    &:nth-child(9) {
      z-index: 12;
      margin-left: -79rem;

      @media (max-width: 767px) {
        margin-left: unset;
        margin-top: -47rem;

        z-index: 28;
      }
    }
  }

  .thirty-three__card-head {
    position: relative;

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 2rem;
    }

    h3 {
      text-transform: uppercase;
      text-align: center;
    }

    p {
      position: absolute;
      top: 0;
      right: 0;

      @media (max-width: 767px) {
        position: unset;
      }
    }
  }

  .thirty-three__content-core {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .thirty-three__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 2rem;
    }

    .thirty-three__content-img {
      width: 21.6rem;
      height: 21.6rem;

      min-width: 21.6rem;
      min-height: 21.6rem;

      @media (max-width: 767px) {
        min-width: 18rem;
        min-height: 18rem;

        width: 18rem;
        height: 18rem;
      }

      img {
      }
    }

    p {
      width: 30rem;

      @media (max-width: 767px) {
        text-align: center;
        width: unset;
      }
    }
  }
}
