.section-twenty {
  background-color: var(--light-blue-gray);

  ._container-twenty {
    padding: 3rem 4rem;
    position: relative;

    @media (max-width: 767px) {
      padding: 2rem 1.6rem;
    }
  }

  .section-twenty__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }
  }
  .twenty__container-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    background-color: var(--white);
    padding: 3rem;
    border-radius: 2rem;

    @media (max-width: 767px) {
      padding: 2rem;
      gap: 1.6rem;
      border-radius: 1.6rem;
    }
  }
  hgroup {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    text-transform: uppercase;

    p {
      max-width: 63rem;
    }
  }
  .twenty-content_img {
    width: 42.4rem;
    height: 42.4rem;

    @media (max-width: 767px) {
      width: 22.5rem;
      height: 22rem;
    }
  }
  .twenty-text {
    max-width: 63rem;
  }

  /*  */

  .twenty__container-block {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media (max-width: 767px) {
      gap: 1rem;
    }
    .container-block_one {
      position: relative;
      height: 53rem;
      padding: 2rem 3rem;

      display: flex;
      justify-content: end;
      align-items: end;

      @media (max-width: 767px) {
        height: 23rem;
      }

      .block-one__img {
        position: absolute;
        inset: 0;

        img {
          object-fit: cover;
          border-radius: 2rem;

          @media (max-width: 767px) {
            border-radius: 1.6rem;
          }
        }
      }

      a {
        position: relative;
        z-index: 2;

        width: 23rem;
        height: 6.2rem;
        color: var(--white);

        @media (max-width: 767px) {
          display: none;
        }

        p {
          display: flex;
          align-items: end;

          margin: 0 0 1rem 1.2rem;
        }

        span {
          margin: 1.2rem 1.1rem 0 0;
        }
      }
    }

    .container-block_two {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 30rem;
      gap: 3rem;

      color: var(--white);

      @media (max-width: 767px) {
        gap: 1rem;

        height: 20rem;
      }

      .block-two__box:first-child {
        background-color: var(--blue);
      }
      .block-two__box:last-child {
        background-color: var(--dark-gray);
      }

      .block-two__box {
        padding: 3rem;
        border-radius: 1.4rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;

        @media (max-width: 767px) {
          padding: 1rem 1.6rem;
        }

        p {
          opacity: 50%;
        }

        h2 {
          text-transform: uppercase;
        }
      }
    }
  }
}
