.section-twenty__two {
  h2 {
    text-transform: uppercase;
  }
  .twenty__two-container {
    display: flex;
    gap: 3rem;

    margin-top: 5rem;

    @media (max-width: 767px) {
      margin-top: 4rem;

      flex-direction: column;
      gap: 2rem;
    }
  }
  .twenty__two-block {
    padding: 3rem;
    border-radius: 1.2rem;

    height: 32rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: var(--white);

    @media (max-width: 767px) {
      height: 24rem;
    }

    &:nth-child(3n + 1) {
      background-color: var(--dark-gray);
    }
    &:nth-child(3n + 2) {
      background-color: var(--blue);
    }
    &:nth-child(3n + 3) {
      background-color: var(--light-gray);
    }
  }
}
