.section-two {
  h2 {
    max-width: 75rem;
    text-transform: uppercase;
  }

  .section-two__container {
    margin-top: 5rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    @media (max-width: 767px) {
      margin-top: 4rem;

      grid-template-columns: repeat(1, 1fr);
    }
  }
  .two__container-block {
    background-color: var(--light-blue-gray);
    border-radius: 2rem;

    position: relative;
    padding: 3rem;

    @media (max-width: 767px) {
      padding: 1.6rem;
    }
  }
  .block-solution {
    .block-solution__box {
      display: flex;
      flex-direction: column;
      gap: 8rem;

      padding: 3rem;
      border-radius: 1.4rem;
      background-color: var(--blue);
      width: fit-content;

      width: 52rem;
      color: var(--white);

      @media (max-width: 767px) {
        padding: 0.8rem 0.6rem;
        width: 17rem;

        gap: 2rem;
      }

      p {
      }

      h2 {
        max-width: 32rem;
      }
    }
    .solution__box--bc {
      background-color: var(--dark-gray);
    }

    .block-solution__img {
      position: absolute;
      top: -0.1rem;
      right: -0.1rem;

      border-radius: 2rem;
      background-color: var(--white);
      padding: 4.4rem 4.2rem 3rem;

      @media (max-width: 767px) {
        padding: 1.35rem 1rem;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0.1rem;
        left: -2.5rem;
        width: 2.5rem;
        height: 2.5rem;
        background: transparent;
        border-top-left-radius: 2rem;
        box-shadow: -1rem -1rem 0 0.4rem var(--white);

        transform: rotate(90deg);
      }

      &:after {
        content: "";
        position: absolute;
        bottom: -2.5rem;
        right: 0.1rem;
        width: 2.5rem;
        height: 2.5rem;
        background: transparent;
        border-top-left-radius: 2rem;
        box-shadow: -1rem -1rem 0 0.4rem var(--white);

        transform: rotate(90deg);
      }

      img {
        min-width: 24.4rem;
        min-height: 20rem;

        width: 24.4rem;
        height: 20rem;

        @media (max-width: 767px) {
          min-width: 12rem;
          min-height: 10rem;

          width: 12rem;
          height: 10rem;
        }
      }
    }
  }

  .block-information {
    margin-top: 8rem;

    @media (max-width: 767px) {
      margin-top: 2rem;
    }

    .block-information__content {
      display: flex;
      gap: 7rem;

      @media (max-width: 767px) {
        flex-direction: column;
        gap: 2rem;
      }
      .text__value {
        text-transform: uppercase;
        max-width: 15rem;
      }

      .block-information__list {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        @media (max-width: 767px) {
          gap: 1.6rem;
        }
      }
      .information__list-item {
        display: flex;
        gap: 2.4rem;
        width: 45rem;

        @media (max-width: 767px) {
          gap: 1rem;
          width: unset;
        }
      }
    }
    .block-information__content-head {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      p {
        text-transform: uppercase;
        max-width: 22rem;
      }
    }
  }

  .block-button {
    display: flex;
    gap: 5rem;

    margin-top: 8rem;

    @media (max-width: 767px) {
      margin-top: 2rem;

      flex-direction: column;
      gap: 2rem;
    }

    .block-button__core {
      display: flex;
      gap: 3rem;
      width: 53.4rem;

      @media (max-width: 767px) {
        flex-direction: column;
        gap: 1rem;
        width: unset;
      }
    }
    .button__core-box {
      padding: 1.2rem;
      background-color: var(--white);
      border-radius: 1.2rem;
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      .box-first__text {
        font-weight: 600;
      }
      .box-second__text {
        text-transform: uppercase;
      }
    }

    .block-button__btn {
      display: flex;
      justify-content: space-between;

      .text__btn {
        display: flex;
        align-items: end;
      }

      border-radius: 1.2rem;
      padding: 1.2rem;

      width: 26.2rem;
      text-align: start;
      color: var(--white);

      @media (max-width: 767px) {
        width: unset;
      }
    }
  }
}
