.section-error {
  .section-error__container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 5rem;

    @media (max-width: 767px) {
      margin-top: 10rem;

      gap: 4rem;
    }
  }
  .block-error {
    display: flex;
    gap: 34rem;

    position: relative;

    @media (max-width: 767px) {
      gap: 14rem;
    }

    .block-error__img {
      position: absolute;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      img {
        width: 45rem;
        height: 36rem;

        @media (max-width: 767px) {
          width: 18rem;
          height: 14rem;
        }
      }
    }

    p {
      font-weight: 400;
      font-size: 46rem;
      line-height: 100%;

      @media (max-width: 767px) {
        font-size: 17rem;
      }
    }
  }

  .text-content__error {
    text-transform: uppercase;
  }

  .link__error {
    width: 41rem;
    height: 6.2rem;

    @media (max-width: 767px) {
      width: 100%;
      height: 5rem;
    }

    p {
      display: flex;
      align-items: end;

      margin: 0 0 1.2rem 1.2rem;
    }

    span {
      margin: 1.2rem 1.2rem 0 0;
    }
  }
}
