.section-thirty__two {
  .form-search {
    margin-bottom: 5rem;

    @media (max-width: 767px) {
      margin-bottom: 3rem;
    }
    search {
      display: flex;
      gap: 3rem;

      @media (max-width: 767px) {
        flex-direction: column;
        gap: 1.6rem;
      }
    }

    .block-search {
      position: relative;
    }

    .block-search__img {
      position: absolute;

      width: 2.4rem;
      height: 2.4rem;

      top: 50%;
      left: 2rem;

      transform: translateY(-50%);
    }

    .search {
      padding: 2.2rem 2.2rem 2.2rem 6rem;
      border-radius: 1.2rem;
      border: 0.1rem solid var(--light-blue-gray);
      width: 90.5rem;
      height: 6.2rem;

      @media (max-width: 767px) {
        width: 100%;
        height: 5rem;
        padding: 1.6rem 1.6rem 1.6rem 6rem;
      }

      &::placeholder {
        font-family: Roboto;
        font-weight: 300;
        font-size: 1.8rem;
        transition: 0.3s ease;
        color: var(--light-gray);

        @media (max-width: 767px) {
          font-size: 1.6rem;
        }
      }

      &:focus::placeholder {
        color: transparent;
      }
    }

    .form-seach__btn {
      width: 26.2rem;
      height: 6.2rem;

      @media (max-width: 767px) {
        width: 100%;
        height: 5rem;
      }

      p {
        margin: 0 0 0.8rem 1.2rem;

        display: flex;
        align-items: end;
        text-align: start;
        color: var(--white);
      }

      span {
        margin: 1.2rem 1.2rem 0 0;
      }
    }
  }

  .thirty-two__container {
    padding: 6rem 4rem;
    border-radius: 2rem;

    background-color: var(--light-blue-gray);

    @media (max-width: 767px) {
      padding: 1rem;
      border-radius: 1.6rem;
    }
  }

  .thirty-two__container-head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    margin-bottom: 5rem;

    @media (max-width: 767px) {
      display: none;
    }

    p {
      padding: 2rem 0;
      border-radius: 1.4rem;

      background-color: var(--white);
      color: var(--blue);

      text-transform: uppercase;
      text-align: center;
    }
  }

  .container__content-carusel {
    .container-wrapper {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      @media (max-width: 767px) {
        gap: 1rem;
      }
    }

    .content-block {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      @media (max-width: 767px) {
        gap: 1rem;
      }
    }

    .block-box {
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: var(--grid-color);
      border-radius: 1rem;

      height: 8rem;

      padding-inline: 1rem;
    }

    .content-block__img {
      img {
        object-fit: cover;

        max-height: 6rem;
        max-width: 20rem;
      }
    }
  }
}
